feedback/
figures/
data/
archived/
.vscode/
drafts/prospectus_draft_fall_2022_files/
grants/
memos/
assets/dissertation_env
assets/visual_env_linux
/.luarc.json
*.bib
assets/dissertation.bib
*/__pycache__/
.jupyter_cache
*/prospectus/
drafts/main_draft/*.otf
.quarto
pre-reg_reports/color_influence_pre-reg_anon_files/
code/pre-reg_reports/color_influence_pre-reg_anon_cache/
/.quarto/
